@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5046e5;
  --bg: #ffffff;
  --fg: #eef2fe;
  --primaryTextColor: #080f1f;
  --secondaryTextColor: #64748b;
  --icons: #5046e5;
  --outlineColor: #5146e58f;
  --alert: rgb(214, 17, 17);
}
[data-theme="dark"] {
  --bg: #10172a;
  --fg: #3a3f5f;
  --primaryTextColor: #f8f9fd;
  --secondaryTextColor: #9fa4a8;
  --icons: #f8f9fd;
  --alert: #e23b1d;
}
